@model WebApplication1.Models.Atleta

@{
    string submitButton = "";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Nuevo";
        submitButton = "Guardar";
    }
    else
    {
        ViewBag.Title = "Editar";
        submitButton = "Modificar";
    }

    string DownloadFileUrl = ViewBag.DownloadFileUrl as string;
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Atletas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Atleta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            if (Model.Id != 0)
            {
                <div class="form-group">
                    <img src="@(DownloadFileUrl + Model.RutaImagen)" width="100" height="100" />
                    @Html.HiddenFor(model => model.RutaImagen)
                    @Html.HiddenFor(model => model.Mimetype)
                    @Html.HiddenFor(model => model.Tamnio)
                </div>
            }
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" }, type = "file", accept = "image/png, image/jpeg" })
                @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@submitButton" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
